[2019-01-14 15:00] benjaoming opened #1 "Safe-guard distributed configuration files"
How can we ensure that configuration files which should be maintained 100% by the package is not changed by users?

* Add in README files to folders
* Move `/etc/kolibri/` stuff to `/etc/kolibri/server/dist/` and put a README in each directory
* Write comments at the top of each file that should not be changed

Ensure that README files contain pointers to where users SHOULD add their changes.

Rel

[2019-01-19 20:14] benjaoming opened #6 "Have nginx listen to default port 8080"
For the sake of keeping user facing documentation etc. simple, we should stick to the normal port `8080`. But this port is already occupied by CherryPy. So we would need a way to switch off CherryPy.

Secondly, we would want to pick up a user-defined port. It's not exactly known how we can read the user-defined port, but let's get a good interface for the `kolibri` environment to launch and detect

[2019-01-19 20:15] benjaoming commented on #6
For instance: Running `service kolibri port` could be an interface to avoid `kolibri-server` using internals of the kolibri debian package or kolibri upstream sources? @jredrejo what do you think?

I imagine that `kolibri service port` would source `/etc/default/kolibri` and then invoke some yet-to-be-created `kolibri get-config port` command... or we just decide that it always explicitly define `

[2019-01-20 10:10] jredrejo commented on #6
@benjaoming I see several problems here:
1. If we use an nginx config file, this config must be the port written there, so it can't be a file provided by the package (well, postinst could hardcode it but then the user can't change it later).
2. I think, according the previous conversations we have had, that `get-config port` should look only in kolibri options.ini file. Clearly, in that case kolib

[2019-01-20 15:51] benjaoming commented on #6
Well... hmm... I think this pattern is already getting us there:

https://github.com/learningequality/kolibri-server/pull/7/files#diff-07e2cd25f7da0550504d107fb2cae5beR16

I agree with the steps, except that `kolibri` still has to run as a daemon and somehow be configured to run without CherryPy.

I'm arriving more and more at a point where I think that the package should control certain mandatory

[2019-01-20 16:02] jredrejo commented on #6
@benjaoming
why does kolibri has to run as a daemon?, what is the problem in stopping it?

On the other hand, there's an alternative we have not touched yet as it could be odd as we are both upstream and the package maintainer , but the possibility is there:
we can patch Kolibri code when building the package if the end result is not contradictory with the Kolibri user experience and documentation

[2019-01-20 18:44] benjaoming commented on #6
Some process has to run to download those 100 GB of channel data :slightly_smiling_face: I can't see it being a UWSGI worker... we harakiri them and scale the number of workers up and down... this won't work if suddenly a worker is busy for 2 days, or another worker starts doing the same, because they run w/o shared states etc.

I never heard of anyone doing background tasks in their UWSGI workers

[2019-01-20 18:47] benjaoming commented on #6
Side note: I don't think we can patch the code from upstream `kolibri` from the `kolibri-server` package.. it doesn't package that code :)

[2019-01-20 23:46] ivanistheone opened #8 "Install and test report on Debian 9"
# Installation report on Debian 9

Summary:

  - I installed preview package `kolibri-network-layer_0.1-1_all.deb` on Debian
    with difficulties (instructions in kolibri docs seem to assume Ubuntu, not Debian).

  - After getting it to work the uWSGI workers kept dying for no apparent reason
    and were not being respawned

## Context

Debian VM on a Mac host:

    root@debian9vm:~# uname -a

[2019-01-21 00:07] benjaoming commented on #8
Your fix is literally in the docs :)

![image](https://user-images.githubusercontent.com/374612/51446892-4ecd2a80-1d18-11e9-9e9d-df96e12e783e.png)

This is also well-known, but currently we only list the solution in the RPI docs.

![image](https://user-images.githubusercontent.com/374612/51446898-6dcbbc80-1d18-11e9-9e66-045bc5687451.png)

This is also in the RPI docs.

Also in RPI docs

----------

[2019-01-21 00:17] ivanistheone commented on #8
Hi @benjaoming  oups --- I should read more ;)  3 out of the 4 install difficulties on Debian were indeed in the docs. All except for this one:

The command in the docs for adding the key is:

    # apt-key adv --keyserver keyserver.ubuntu.com --recv-keys DC5BAA93F9E4AE4F0411F97C74F88ADB3194DD81

On Debian it fails with rather uninformative

[code]

The following alternative protocol for the keyse

[2019-01-21 08:47] jredrejo commented on #8
@ivanistheone  thanks very much for your tests.
I will concentrate only on kolibri-server comments by now because I prefer to concentrate on one thing at a time.
Please, help me to clarify all what you found:
1. Installation steps worked fine , excepting `service nginx reload` is needed in the postinst script.
2. After installing the daemon did not start , after restarting it you saw it running, r

[2019-01-21 14:05] ivanistheone commented on #8
Hi @jredrejo  Yes you're correct about 1/2/3/4. Sorry for the rambling bug report without specifics.
Here are some more comments:

Correct.

Yes. As you can see in the `pstree` output, there was the `kolibri` processes, `kolibri-network`, `nginx`,  and several `uwsgi`.

The weird things worth reporting here is that systemd thinks the service `kolibri-network-layer` is not running even though the `

[2019-01-21 14:31] benjaoming commented on #8
Thanks @ivanistheone - I was making an assumption about the GPG issue. Have fixed it here:

https://github.com/learningequality/kolibri-docs/pull/61

[2019-01-25 19:59] jredrejo commented on #6
Ok, this is my proposal

1. For Kolibri < 0.12 (to be done in master branch)

* kolibri-server will set nginx to listen on 8080 . The debconf template will allow the user to choose between 8080, 80 & 8008 (These are the only ports p2p discovery  tests)
* The Kolibri application will be running in the background and change to run in a unusable port modifying options.ini `HTTP_PORT=9999` (Bad side e

[2019-01-28 17:42] jredrejo commented on #1
We shouldn't ensure that.
Users are the owner of their servers, they must be able to change anything.
As you say, I think our responsability is limited to leave a README file there stating that the package could not work if they change it.
I don't see  how moving the package files to server/dist is going to provide any benefit here.

[2019-01-28 17:50] benjaoming commented on #1
Please see the PR @jredrejo as it indicates more precisely what the intention is.

[2019-01-28 17:51] #1 closed

[2019-02-28 02:08] radinamatic opened #13 "Errors while importing channels on `kolibri-server`"
### Observed behavior

Unable to import content from Studio:

During the first attempt to import after installation, it seemed that user got disconnected, even though the service was still active:

![ubuntu 16 04 3 start running - oracle vm virtualbox_438](https://user-images.githubusercontent.com/1457929/53535884-93609880-3b04-11e9-9a1e-d9b63efad345.png)

After restarting the system, different er

[2019-02-28 03:53] indirectlylit commented on #13
don't know whether it's a cause or symptom, but interesting that the heartbeat gets a 502 HTML-encoded response:

We might want to customize the NGINX error responses a bit? i.e.

* `/api/*` URLs would return JSON-encoded responses consistent with our app-level API errors that hook into our existing 'unknown API error' handling system. Ref: [design work](https://drive.google.com/drive/folders/1Nk5

[2019-02-28 09:10] mrpau-julius commented on #13
Same error in Ubuntu 18.04. Some channel can import need to refresh the page.
[kolibri.log](https://github.com/learningequality/kolibri/files/2914264/kolibri.log)

![image](https://user-images.githubusercontent.com/38421180/53554847-a95d7000-3b7b-11e9-9592-307af17d0ffd.png)

[2019-02-28 15:07] rtibbles commented on #13
@indirectlylit this doesn't look like it is causing the issue, but is rather a symptom, as nginx will return a 502 when the kolibri server is not responding.

I do agree that we should return different responses depending on the request - the best way to do this systematically is to use the `HTTP_X_REQUESTED_WITH` header, and return a JSON response if it is equal to `XMLHttpRequest`. The only slig

[2019-02-28 15:08] rtibbles commented on #13
I also think we should actually design a 502 page, and not just use the one that @jamalex and I had whipped up previously.

[2019-02-28 17:25] indirectlylit commented on #13
mind pointing me to the current page in code?

[2019-03-13 04:51] mrpau-julius commented on #13
Still exist in Kolibri-server 0.12.1
[kolibri.log](https://github.com/learningequality/kolibri/files/2959816/kolibri.log)

![Screenshot from 2019-03-13 12-38-14](https://user-images.githubusercontent.com/38421180/54254334-54aff100-458e-11e9-8042-7c2315edb625.png)

[2019-03-13 08:09] mrpau-julius opened #14 "Content import progress value is more than 100% on 'Kolibri-server'"
### Observed behavior

While I import an `African Storybook` channel using the local drive, I observe the progress value are more than 100 percent and I get an error on console.

![Screenshot from 2019-03-13 15-19-21](https://user-images.githubusercontent.com/38421180/54261043-ab74f500-45a5-11e9-9280-2531d3a7a733.png)

### Expected behavior

The progress bar must be exactly 100 percent.

### Error

[2019-03-14 08:59] mrpau-julius commented on #14
Same error on ubuntu 18.04

[kolibri.log](https://github.com/learningequality/kolibri/files/2965534/kolibri.log)
[server.log](https://github.com/learningequality/kolibri/files/2965538/server.log)

![Screenshot from 2019-03-14 16-54-55](https://user-images.githubusercontent.com/38421180/54343667-4d661180-467a-11e9-9330-c2da4fb1af48.png)

[2019-03-15 05:45] mrpau-julius commented on #13
same error on debian 9.8 using kolibri-server 0.2.1
[kolibri.log](https://github.com/learningequality/kolibri/files/2969582/kolibri.log)
[server.log](https://github.com/learningequality/kolibri/files/2969583/server.log)

![Screenshot from 2019-03-15 01-40-00](https://user-images.githubusercontent.com/38421180/54410959-f127df80-46c3-11e9-926e-10932e33c99f.png)

[2019-03-15 05:58] mrpau-julius commented on #14
same bug found on debian 9.8
[kolibri.log](https://github.com/learningequality/kolibri/files/2969624/kolibri.log)
[server.log](https://github.com/learningequality/kolibri/files/2969626/server.log)

![Screenshot from 2019-03-15 01-54-12](https://user-images.githubusercontent.com/38421180/54411419-bb83f600-46c5-11e9-9f17-eabde7563050.png)

[2019-03-15 09:30] mrpau-julius opened #11 "Learner lesson fails to load on `kolibri-server`"
### Observed behavior

I create more then 50 resources in lesson page. When I log in a Learner account and click the lesson task this error message appeared.

cc @jredrejo
![Screenshot from 2019-03-15 04-19-32](https://user-images.githubusercontent.com/38421180/54420961-bfbe0c80-46e1-11e9-8da1-595f53b445f9.png)

### Expected behavior

Can see all the lesson resource.

### Errors and logs

[code]

[2019-03-21 22:30] jamalex opened #10 "Issues running on Raspberry Pi"
Installing on a Raspberry Pi running Raspbian. Tried to use the PPA, but got:

[code]

So then I downloaded the DEB's and installed them with `dpkg`. Everything worked until it tried to start the server. Starting the server manually gave:

[code]

[code]

[code]

[2019-03-22 06:44] jredrejo commented on #10
Hello @jamalex , I think the package is not installed properly. There are not official docs yet, so it's logical.

1. To install it using apt, the steps neededs are those written in
https://kolibri.readthedocs.io/en/latest/install.html#rpi
replacing
`deb http://ppa.launchpad.net/learningequality/kolibri/ubuntu xenial main`
by
`deb http://ppa.launchpad.net/learningequality/kolibri-proposed/ubuntu x

[2019-03-22 17:15] jonboiser commented on #11
@mrpau-julius Does this depend on the number of resources in the lesson? Could you try with different numbers of resources in the lesson (e.g. 10, 20, 30, 40, 45, 50)?

[2019-03-25 06:23] mrpau-julius commented on #11
@jonboiser I tested the different numbers of resources in the lesson, from the range of 10, 20, 30 and 40 it's working fine but in 44 up to 50 resources, I get errors.

[2019-03-25 13:01] jredrejo commented on #11
@mrpau-julius can you test it without kolibri-server, using just kolibri?

[2019-03-25 20:38] indirectlylit commented on #13
bumping to next 0.12.3

[2019-03-25 20:43] indirectlylit commented on #11
the error message returned is

[code]

The underlying problem might be from Kolibri, but this error is coming from NGINX

[2019-03-25 20:58] indirectlylit commented on #8
can we break this issue apart into any outstanding individual issues? For any that are critical to our initial release, let's tag them with milestone [v0.1.0](https://github.com/learningequality/kolibri-server/milestone/1)

[2019-03-25 21:00] indirectlylit commented on #10
Adding 0.1.0 milestone.

After some testing, @jredrejo reports:

[2019-03-25 21:02] indirectlylit commented on #6
my understanding is that this issue has been addressed.

If not, please open new individual issues and target any critical short-term ones to the v0.1.0 milestone

[2019-03-25 21:02] #6 closed

[2019-03-25 21:55] jamalex commented on #10
I didn't run uwsgi manually at all.

I stopped nginx, moved the old config from sites-enabled to sites-available, then installed the `kolibri` deb and other dependencies (which would have started the `kolibri` service) before installing `kolibri-server` deb. When it didn't work, I did try stopping the `kolibri` service manually (though I would have thought `kolibri-server` would do this too) befor

[2019-03-25 22:48] benjaoming commented on #6
@jredrejo is there an issue open for this?

[2019-03-26 02:35] indirectlylit commented on #6
if it only affects versions prior to 0.12.x, my sense is that would be a 'wontfix' because we'd almost certainly want people to simply upgrade

[2019-03-26 03:03] indirectlylit commented on #14
thanks @mrpau-julius!  Is this consistently reproducible, and if so are the steps to reproduce simply to import things?

@lyw07 this looks very familiar. Do you recall if there's a related issue we've closed in the past?

[2019-03-26 03:05] lyw07 commented on #14
Yes we had similar issues before, but both the user who reported the issue and us were not able to reproduce it. I will look into this issue tomorrow

[2019-03-26 07:53] jredrejo commented on #6
@benjaoming @indirectlylit  right, the wrong port in Device info page was solved in kolibri 0.12.0. Previously we had to keep two TCP ports open and Device info showed the wrong one. I'd say this is a fixed issue more than  wonfix ;)

[2019-03-26 17:22] lyw07 commented on #14
Hi @mrpau-julius , if by any chance the content on your local drive is not much, could you please send me the zip of the KOLIBRI_DATA folder on your local drive?
I notice from the log file that there were errors when you downloaded channels from studio, did you see the same error (over 100% progress bar) at that time? Thank you!

[2019-03-26 23:42] radinamatic commented on #11
Tested on _just Kolibri_ viewing the lesson with more than 60 resources (asset from one of the recent PRs on 0.12.x on Ubuntu 16.04) as a learner, and it opened just fine. Tried on Windows 7, same thing, no issue opening and viewing the resources.

[code]

[2019-03-27 07:07] mrpau-julius commented on #11
@jredrejo I tested again in Ubuntu 18.04 and Debian without Kolibri-server. It works fine, even the resources are more than 100. I confirm this error exists in `Kolibri-server`. Because I get the same error on ubuntu 18.04 when I installed 'Kolibri-server' within.

[code]

[2019-03-27 11:42] mrpau-julius commented on #14
@lyw07 Yes, I see that in the Kolibri log and I tested again still over 100% progress. I sent to your email the KOLIBRI_DATA.zip

[2019-04-01 19:07] jredrejo opened #12 "Notifications thread started more than once could lead to db corruption"
In a database corruption issue reported at https://community.learningequality.org/t/corrupted-database-following-upgrade-to-0-12-2/1097/2

this log can be seen several times in a few seconds
[code]
According to kolibri code, this only can happen when a new notification is appended to the notifications queue.

[code]

 However, due to the non thread-safe nature of this process, if more than one uws

[2019-04-04 07:58] jredrejo commented on #8
@ivanistheone all these issues have been fixed. Could you do another test to confirm it?

[2019-04-04 08:27] jredrejo commented on #11
@mrpau-julius  could you give me more info on the hardware you are executing this? Memory amount is a key point.

Also, when you run it using only kolibri, not kolibri-server, can you tell me how long the page takes to show? (aprox, 5 seconds, 8, 10... )

The problem is happening for one of these two different reasons:
* The operation exceeds the memory limits kolibri-server sets
* The operation e

[2019-04-04 08:52] mrpau-julius commented on #11
@jredrejo I'm using VM with basic memory 4096MB, the processor is 4 CPUs and video memory 128MB.

[2019-04-04 09:12] jredrejo commented on #11
@mrpau-julius I have upgrade the kolibri-server package raising the memory limits a bit.
Can you update it and try again?
If it fails, can you take an aprox measurement of the time the page needs to load when using only kolibri, without kolibri-server?

[2019-04-05 08:12] mrpau-julius commented on #11
@jredrejo I upgrade the Kolibri-server and double check, still failed.
![Peek 2019-04-05 16-03](https://user-images.githubusercontent.com/38421180/55613305-fc4ec680-57bc-11e9-95fa-c10a7d262eb0.gif)

[2019-04-05 10:16] jredrejo commented on #11
@mrpau-julius would it be possible you pass me your db file or the list of resources you added to the channel. I can't reproduce your problem nor others can't either.

Also, can you tell me the time that page takes to load when you're not using kolibri-server?

[2019-04-08 16:13] jredrejo commented on #11
@mrpau-julius thanks for your help. With your database I have been able to reproduce the problem. The header block was way bigger in your installation and passed the uwsgi limit for the header. I have made a change in the configuration to raise the limit and uploaded a new version of the package to the ppa. Please, test it when you can.

[2019-04-09 01:33] mrpau-julius commented on #11
@jredrejo, yes it is now working both Ubuntu and Debian. Awesome !! 👍

[2019-04-09 01:33] #11 closed

[2019-04-18 19:02] indirectlylit commented on #13
@jredrejo transferred issue to `kolibri-server` repo

[2019-04-25 18:26] lyw07 commented on #14
update: this is a kolibri-server specific issue. I'm not able to reproduce it with kolibri on my OSX machine but can reproduce it on kolibri-server. I will look into this issue more.

EDIT: I'm not able to consistently reproduce the error now

One error I found that might relate is that the total size of the resources are different although the number of resources are the same.
![Screen Shot 2019-

[2019-04-26 00:29] lyw07 commented on #14
Did some more investigations and here are the steps to reproduce the error:
1. Install kolibri-server
2. import 10GB content from a KA channel, cancel the import at the progress 1% (one error here is that the channel was not be marked as available, although it is supposed to be)
3. import some more content. If we import a new channel, channel database file download will fail.

the error will be no

[2019-04-26 05:27] indirectlylit commented on #14
cc @jredrejo  --^

[2019-04-26 12:32] jredrejo commented on #13
@mrpau-julius I am not able to reproduce the problem, running kolibri-server in one vm and accesing from my browser.
How are you trying it? having both the server and the browser in the same machine? does it happen everytime you try to import or only sometimes? if it happens sometimes, any hint to help me reproduce it?

[2019-04-29 06:17] mrpau-julius commented on #13
@jredrejo, In the latest version of Kolibri-server 0.12.2. I can't reproduce it. I tried it several times installing the Kolibri-server, there no track or issues exist.

[2019-04-29 07:31] jredrejo commented on #13
that's great @mrpau-julius I am closing this issue then. Feel free to reopen it if you see it again and can find a way to reproduce it.
Thanks very much

[2019-04-29 07:31] #13 closed

[2019-04-29 07:32] jredrejo commented on #10
Closing this ticket as it's not reproducible anymore.

[2019-04-29 07:32] #10 closed

[2019-05-09 13:55] benjaoming commented on #14
Seems related to Iceqube and several workers? @jredrejo would it make sense to request to see if this can be reproduced with the UWSGI configuration edited to have on a single worker?

[2019-05-09 15:10] jredrejo commented on #14
@benjaoming no need, I can confirm it's an iceqube problem. There's a new version of iceqube on the way, with important changes in the way these tasks are handled. I am waiting for it to be approved to test it.

[2019-07-07 09:15] intelliant01 opened #15 "Error during installation"
Following the documentation, I encountered this error while installing on Ubuntu 18.04 LTS -
[code]

As it says ```software-properties-common``` takes care of this package, hence installation instructions in the documentation may need change.

[2019-07-07 09:21] intelliant01 opened #16 "Error during nginx reload during installation"
I already had nginx-core installed on my Ubuntu 18.04 LTS server. Upon installation of kolibri-server 0.2.5, the nginx service could not reload due to this error -

[code]

However, it did succeed on subsequent attempts. Seems the installer tried to reload the nginx server prior to creation of the file / link - ```/home/mssadmin/.kolibri/nginx.conf```.

[2019-07-10 00:12] indirectlylit opened #17 "improve nginx HTML-based error messages"
We've gotten feedback that

(https://github.com/learningequality/kolibri/issues/5753)

Let's improve the messages to...

* make them less scary-looking, using standard Noto fonts and nice formatting
* improve the explanations of what's happening
* auto-refresh every few seconds

[2019-07-11 14:57] benjaoming commented on #17
@indirectlylit note that adding complexity to error pages is perhaps not the best idea as it can result in more errors - also, for static assets, this would put a dependency on the structure of kolibri's static assets in this debian package.

Would making text-only changes and auto-refresh be a good first step? Note that auto-refresh can be achieved without JS: https://en.wikipedia.org/wiki/Meta_r

[2019-07-11 14:58] benjaoming commented on #17
Also, great idea with the auto-refresh!

[2019-07-11 15:33] indirectlylit commented on #17
agreed, these should be stand-alone HTML files baked into the `kolibri-server` package, with no dependency on `kolibri`

[2019-07-27 11:11] intelliant01 opened #18 "kolibri-server service requires manual restart to access kolibri"
kolibri and kolibri-server service start upon system boot up. Post vacuuming as observed via kolibri.txt log, the browser still shows ```502 Bad Gateway``` error. Once the vacuuming and ping test are done with as seen in the log, kolibri-server needs to be restarted to move ahead of the 502 response and access Kolibri.

A thought - the db size is 2.6 GB, hence it may be taking much longer than the

[2019-07-27 11:37] intelliant01 commented on #18
Figured out why this was happening.

I had updated kolibri deb to 0.12.7 individually as kolibri-server is still at 0.12.5 which enabled the kolibri service as well. Have now disabled the kolibri service, preventing it to start upon boot, and all is working is expected as kolibri-server service is alone *in-charge* now.

Noteworthy that even with 2.6 GB db the startup time is under 4 minutes.

[2019-07-27 11:37] #18 closed

[2019-07-29 21:21] benjaoming commented on #18
@intelliant01 are you in touch with anyone about this DB footprint? I think it's interesting to know the reasoning for such a large DB and how it can be reduced or split up.

[2019-07-30 13:21] intelliant01 opened #19 "kolibri seems to be starting twice"
Kolibri seems to be starting twice, at least a part of the startup sequence such as vacuuming the db.  I realised it because of a 2.7 GB db.sqlite3 file size.

The logs seem to suggest so -

[code]
kolibri-server 0.3.0
kolibri 0.12.7
Ubuntu 18.04

[2019-07-30 13:30] intelliant01 opened #20 "kolibri never shuts down cleanly"
Every shutdown attempt either with ```systemctl stop kolibri-server``` or ```service stop kolibri-server``` fails.

Then an attempt with ```systemctl stop kolibri``` or ```service kolibri stop``` seems to kill it in the background with these in the log -

[code]

Contents of ```daemon.txt``` -

[code]

Residual db.sqlite3-shm and db.sqlite3-wal files are always present, guess indicative of an uncl

[2019-07-30 13:41] intelliant01 commented on #16
Problem persists in kolibri-server 0.3.0.

[2019-07-30 15:59] intelliant01 opened #21 "redis does not start"
redis does not start upon installation of kolibri-server though it is specified for caching in options.ini. Even after manually starting redis and restarting kolibri-server, no kolibri screen can be loaded.

This is the what is available via browser console -
![licecap_0NWZOeODDJ](https://user-images.githubusercontent.com/2577060/62145260-bb9d2f00-b310-11e9-8629-0206d9284e7c.png)

Seems some old f

[2019-07-30 16:18] intelliant01 commented on #19
This repeated vacuuming seems to be normal behaviour as it is evident in case of .pex wherein Kolibri works on Ubuntu for me and .deb (just kolibri or kolibri-server) wherein [I did not get any success with 0.12.7 yet](https://github.com/learningequality/kolibri/issues/5833).

Leaving this open as a marker for possible optimisation because it is highly annoying to wait for repeated vacuuming of a

[2019-07-30 16:46] intelliant01 commented on #18
@benjaoming Yes, the large db size has been brought up in discussions with Richard and Rafael over email.
Have even been discussing in a [community thread](https://community.learningequality.org/t/implications-of-large-db-sqlite3-file-for-kolibri-performance/1218?u=shrenik)

The reasoning behind the size seems fine as it is of a production system with over 200 users and more than a year of usage d

[2019-07-30 20:42] benjaoming commented on #18
Thanks so much for the references, @intelliant01 - will ponder this and respond in the forums if I can come up with something.

[2019-07-31 01:40] jredrejo commented on #21
hello @intelliant01  how did you install redis? did you do any manual config on it? the default redis-server installation sets it up to start on boot.

[2019-07-31 02:09] intelliant01 commented on #21
@jredrejo default installation while installing kolibri-server 0.3.0.
Had experienced it over two attempts of installtion. It is enabled but not started.

[2019-08-01 22:32] benjaoming commented on #16
@jredrejo do we need to somehow force the creation of `~/.kolibri` during `postinst configure`? Could it be done very naively by invoking `kolibri status`?

Am thinking about this sequence: https://github.com/learningequality/kolibri-server/blob/master/debian/postinst#L22

[2019-08-01 22:35] benjaoming commented on #20
This is probably because kolibri is active in UWSGI.

But does seem a bit critical.

@intelliant01 could you clarify the use case of performing this `stop`? Was it done automatically or as part of a task you needed to solve?

[2019-08-02 15:57] intelliant01 commented on #20
@benjaoming I was testing the normal start / stop cycle post installation of kolibri-server package. When I spotted the odd behaviour with the above errors , I tried this multiple times and each time I spotted the same error. I shall be doing a round of tests on a clean install tomorrow.

I say *clean* because the above is a case of migrating from pex to just deb to kolibri-server deb. Though I ha

[2019-08-03 15:33] jredrejo commented on #21
but you had to do something when installing `redis-server` for it not to start. Automatic installation sets it to start by default.

[2019-08-03 16:05] intelliant01 commented on #21
@jredrejo did a clean install on a newly installed OS. It works as expected and ```redis-server``` starts automatically.
Can't yet put my finger on what is causing it not to start automatically immediately upon installation on the above referenced system. Now I shall shift my focus on solving this puzzle.

Can you suggest what could be causing this?

[2019-08-03 16:09] intelliant01 commented on #20
@benjaoming all works smooth on a new OS install followed by a kolibri-server installation. The problem is specific to the pex to kolibri-server migrated system.
Will now focus on figuring out what's happening therein.

[2019-08-07 14:58] #21 closed

[2019-08-07 20:48] intelliant01 commented on #20
@benjaoming Explaining two scenarios:

- Immediately after kolibri-server installation / small db.sqlite3 file -

When stopping with ```systemctl stop kolibri-server``` uwsgi processes are terminated but ```/usr/bin/python3 /usr/bin/kolibri start``` process can be seen running as well as the ```systemctl status kolibri``` is also in active state. When stopped with ```systemctl stop kolibri```, it

[2019-08-07 20:54] intelliant01 commented on #19
While the second round of vacuuming is underway, it does not allow anyone to login. However, those who are already logged in prior to the commencement of the second round, can continue working. The second round of vacuuming starts within 2 minutes of complete start of kolibri-server.
This is noticeable only with a large database.

[2019-08-07 21:10] intelliant01 opened #23 "Avoidable race condition for kolibri service"
**Identified problem :**
Upon installation of ```kolibri-server```, the ```kolibri``` package is installed and the ```kolibri.service``` is ```enabled```. This results in multiple simultaneous or successive attempts to start kolibri -

1. via the enabled ```kolibri.service```
2. via ```/etc/init.d/kolibri-server``` executed by ```kolibri-server.service```

Inside ```/etc/init.d/kolibri-server``` i

[2019-08-08 18:58] indirectlylit commented on #21
@intelliant01 FYI @jredrejo is on vacation. I expect your recent `kolibri-server` issues will get more attention when he returns. Thanks for your testing and patience!

[2019-08-09 01:10] intelliant01 commented on #21
@indirectlylit Thanks for the information.

[2019-08-14 12:11] intelliant01 opened #24 "HTML5 content not working"
Am unable to successfully load any of these or any HTML5 content from public CK-12 channel -
```CK-12 ->  Grade 1 -> Elementary Math -> Math```
Flexbooks load after a long delay with missing images.
PLIX content stops at 90%.

![ck12-plix](https://user-images.githubusercontent.com/2577060/63019119-1f4e5d00-beb8-11e9-8577-ee89ddd10ca2.png)

Channel token - ```lirub-laruk``` - any HTML5 content ther

[2019-08-14 12:22] intelliant01 opened #25 "debconf warning during kolibri-server start"
```systemctl start kolibri-server``` always shows this warning -
```Aug 14 17:30:12 server kolibri-server[7303]: debconf: DbDriver "passwords" warning: could not open /var/cache/debconf/passwords.dat: Permission denied```

*Environment:*
Ubuntu 18.04
kolibri-server 0.3.0
kolibri 0.12.7

[2019-08-14 12:38] radinamatic commented on #24
Possibly related to https://github.com/learningequality/kolibri/issues/5851.

[2019-08-14 12:39] radinamatic commented on #24
Oops, didn't see that it was already mentioned... 🤦‍♀

[2019-08-16 17:58] jredrejo commented on #24
Confirmed the problem happens with kolibri-server and not kolibri, both with kolibri 0.12.7 & 0.12.8

[2019-08-16 18:05] jredrejo commented on #25
Sorry but that's an ubuntu bug that has been reported in several issues in Ubuntu. kolibri-server can't do anything to avoid it

[2019-08-16 18:05] #25 closed

[2019-08-19 15:25] #24 closed

[2019-08-19 16:00] jredrejo commented on #19
I have just checked this is an issue with the kolibri package and its init system, not with kolibri-server

[2019-08-19 16:11] jredrejo commented on #20
@intelliant01 as the problem comes because of transitioning from running pex and can't be reproduced in a fresh kolibri-server installation I only can think of two possible reasons:
1. The database was already damaged and vacuum can't finish its job
2. There are still some remaining script in the server keeping the database open

For 1, it could be easily solved using this procedure: https://kolib

[2019-08-19 16:17] jredrejo commented on #21
@intelliant01 hello again,
it seems your redis installation has some kind of problem in one of the servers and it's not able to start.
There are two commands that could help to find out the reason. After doing
`service redis restart`
can you paste the output of
`service redis status`
and of
`tail /var/log/redis/redis-server.log`

[2019-08-19 16:39] intelliant01 commented on #21
@jredrejo i could not reproduce this problem after a clean reinstall on the "problem" server. Hence had closed this. We can move ahead of this. Thanks.

[2019-08-19 16:47] intelliant01 commented on #20
@jredrejo This problem is easily reproducible on a clean kolibri-server installation i.e. without the pex to deb/kolibri-server transition.

Have tried with troubleshooting steps, manual vaccumming, lsof, ps aux checks, etc. You shall easily be able to reproduce the shutdown and startup problems once you play with the large database on a dual core / slow system i.e. if you have access to one. :)

[2019-08-19 16:53] jredrejo commented on #16
@benjaoming actually https://github.com/learningequality/kolibri-server/blob/master/debian/postinst#L21 should create the needed nginx conf.
@intelliant01 I am not able to reproduce this, you say you see it in 0.3.0 too, could you help me with the needed steps to reproduce the problem?

[2019-08-19 17:03] intelliant01 commented on #16
@jredrejo This can be reproduced every time with these steps -

1. Uninstall kolibri-server and kolibri completely.
2. Remove nginx.conf that has been created inside .kolibri folder during the previous installation.
3. Install kolibri-server and keep an eye on the installation output.

[2019-08-19 17:22] intelliant01 commented on #20
@jredrejo [Herein is the link to the db](https://drive.google.com/file/d/1JdqS8E_hOTt_-7BWFS-AZQpbRV_3dF0e/view?usp=sharing). Shall give access once you request.

[2019-08-20 17:43] benjaoming opened #27 "Running kolibri.service is required"
When installing Kolibri, it's actually optional to run the service. Installing `kolibri-server` will then disable Cherry Py for the `kolibri.service` instance, hence it will only be responsible for background tasks.

In kolibri-server 0.3.1, `Requires: kolibri.service` was removed from `kolibri-server.service`. Is this a problem? Should we add `systemctl enable kolibri.service` to `postinst` for `

[2019-08-20 18:28] #20 closed

[2019-08-20 18:29] jredrejo commented on #20
@intelliant01 Thanks very much for your feedback. I have been able to reproduce the problem now.
There were 2 problems:
1. A problem with kolibri-server init script that didn't wait for `service kolibri stop`to finish. This is being fixed in #28 . A new version of kolibri-server is going to be released today to fix it.
2. A problem with one function that's been executed whenever kolibri starts and

[2019-08-20 18:55] benjaoming commented on #16
@jredrejo I think this might be because `/etc/kolibri/nginx.d/099-user.conf` exists from the previous installation. We need to disable it in `postrm` such that a broken nginx config isn't left enabled on the system?

[2019-08-21 02:59] intelliant01 commented on #16
Yes, I forgot to mention that the uninstall is not doing a complete cleanup.
Tried both ```apt remove``` and ```apt pruge```.  Shall create a separate issue for this.

[2019-08-21 03:10] intelliant01 opened #29 "Uninstalling kolibri-server does do a full cleanup"
An uninstall of kolibri-server is not doing a complete cleanup. It leaves behind configuration files created inside `.kolibri` and `/etc/kolibri/nginx.d/099-user.conf`.

Tried both `apt remove` and `apt pruge`.

Expected `apt purge` to do a complete cleanup leaving behind only user data files.

Environment:
kolibri-server 0.3.0
Ubuntu 18.04 LTS

[2019-08-21 03:17] intelliant01 commented on #16
@jredrejo @benjaoming To sum it up, the error reported is because nginx reload is being attempted before nginx.conf is created but a reference to the same already exists at ` /etc/kolibri/nginx.d/099-user.conf`. One may not be able to reproduce this error if after uninstalling kolibri-server we do not manually cleanup the nginx.conf.
Have created #29 to address the issue with uninstalling.

[2019-08-21 04:18] intelliant01 commented on #20
@jredrejo Thanks for the heads up.
Will test for 1 in my environment once released. Really waiting for fix referenced in 2 as the bug results in all sorts of inconsistent behaviour for end users. What could be the approx ETA for the next 0.13.x release?

[2019-08-21 07:19] jredrejo commented on #20
I am not sure, I think @indirectlylit can answer it properly.

[2019-08-21 15:13] jredrejo commented on #23
@intelliant01 I don't like the idea of disabling a daemon in another's package postinst.
The changed done in https://github.com/learningequality/kolibri-server/commit/90d69f15f3cb8780c2b72c24fd0fc18c0ced5dc8 avoiding starting kolibri from systemd should be enough to solve all these problems. I have not been able to replicate them after it.

Feel free to reopen this issue if you still face the prob

[2019-08-21 15:13] #23 closed

[2019-08-21 16:31] #29 closed

[2019-08-21 16:47] jredrejo commented on #27
@benjaoming  It was removed because it's started by the `kolibri-server`init. Doing it as you proposed would make `kolibri`start twice

[2019-08-21 16:47] #27 closed

[2019-08-21 17:42] indirectlylit commented on #20
We don't have a hard date for 0.13.x, but it will be before the end of the year.

I've created #5891 to investigate whether we can backport the fix for (2) to 0.12.x.

[2019-08-21 18:07] intelliant01 commented on #20
@indirectlylit Thanks for the heads up. Really hoping that it can be bavkported as waiting till year end will just prolong the agony of inconsistent experiences for many a on-field users.

[2019-08-22 17:32] benjaoming commented on #16
Just made a clean installation on a clean Raspbian Stretch. I had installed nginx before installing kolibri.

The final bits of `sudo apt install kolibri kolibri-server` looked like this:

[code]

 and got this from `systemctl status nginx.service`:

[code]

[2019-08-22 18:00] benjaoming opened #31 "Timeout when starting kolibri-server if kolibri hasn't been running"
Steps to reproduce:

1. Install kolibri
1. Stop kolibri with `sudo service kolibri stop` or similar
1. Remove the `~/.kolibri` folder such that a new database etc. has to be created
1. Run `sudo apt install kolibri-server`

Result

[code]

[2019-08-23 10:40] benjaoming commented on #27
@jredrejo

NOW I GET IT! :)

Yes, I just saw that the `.service` file had the dependency removed, but now I see that `.init`starts it: https://github.com/learningequality/kolibri-server/blob/8155e93579b1440f621006dd74ac5b50cd4d4fd2/debian/kolibri-server.init#L57

Thanks!

[2019-08-23 14:53] benjaoming commented on #31
Theory:

`sudo apt install kolibri-server` will install and perform the first run of kolibri separately. Thus, the timeout-resistent `kolibri.service` runs kolibri for the first time.

If we delete the `~/.kolibri` directory and run `kolibri-server.service`, then the init script will be invoked and start kolibri with a clean `KOLIBRI_HOME`, prompting a longer runtime and eventually the timeout.

T

[2019-08-23 18:59] intelliant01 commented on #31
@jredrejo Have you tested the stop timeout with the large database? I have never seen a clean kolibri and kolibri-server shutdown with the large db. Kolibri is 'killed with force' and kolibri-server always reports a timeout as above. Even 10 seconds are not going to be enough as I had already tried.

[2019-08-27 16:32] benjaoming commented on #31
I'm re-opening this, pending more feedback from @intelliant01 - it seems that 10 seconds may not be enough or there is something else causing unclean shutdowns.

I also want to verify my own setup that reproduced timeouts on RPi.

[2019-08-27 18:03] benjaoming commented on #16
Reopening this, because @intelliant01 also reported something similar.

@intelliant01 could you confirm if you can reproduce the above or if you have a different issue?

[2019-09-02 11:00] jredrejo commented on #16
@benjaoming the problem you comment is related to the installation while the problem @intelliant01 commented and that was solved was related to uninstallation and purge of the package.
 Please create a new issue for your problem to avoid mixing topics.

[2019-09-02 11:00] #16 closed

[2019-09-02 11:27] intelliant01 commented on #16
@jredrejo I had infact reported this issue as an error on installation. The ”uninstallation and purge” discussion happened as a consequence of trying to reproduce the original problem during installation. I think this issue must be reopened.

[2019-09-03 17:06] intelliant01 opened #34 "PDF files not displaying"
PDF files are no longer displaying. I am experiencing this problem at least in channel with token `lirub-laruk`. Every last level folder has a HTML content and 2 PDF files.  Earlier the problem was with HTML content which has been fixed in #24 .
Have not tested with other channels.

**Environment**
Ubuntu 18.04.2
kolibri-server 0.3.2
kolibri 0.12.8

[2019-09-03 21:49] ivanistheone commented on #34
Hi @intelliant01 could you post a screenshot and any extra info from the js console and/or errors from the network tab.

I can confirm that it's not a content issue, since the channel PDFs load fine on this online demo server (older version of Kolibri):
http://35.227.71.104/learn/#/topics/c/cee4d15f8621468c8cfa5e621fb4d1ba

[2019-09-04 16:59] intelliant01 commented on #34
Hi @ivanistheone, Sorry this was my bad test environment with swapped content folders. PDFs are displaying fine. Hence closing.

[2019-09-04 16:59] #34 closed

[2019-09-10 17:14] jredrejo commented on #14
@mrpau-julius I have tested this using
[code]
and the issue does not happen anymore.
Please, can you check it too and close this issue if that's the case?

[2019-09-11 04:49] mrpau-julius commented on #14
Yes, you're right @jredrejo, this issue has been fixed in the latest version of Kolibri server. I am closing this now.

[2019-09-11 04:49] #14 closed

[2019-10-23 18:05] indirectlylit opened #37 "select error page language based on client header"
When the user navigates to a URL without a language code (e.g. localhost:8080), we should preferably set the language based on the `Accept-Language` header.

Follow-up from https://github.com/learningequality/kolibri-server/pull/35

[2019-10-24 15:28] jredrejo commented on #37
It's a real pitty Debian does not include the optional [nginx Accept Language module](https://www.nginx.com/resources/wiki/modules/accept_language/) in the  [nginx-extras package](https://packages.debian.org/buster/nginx-extras ) . It would make this config very simple and easy to implement.
I see there have been a [bug open](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=897425) for more than

[2019-10-24 15:50] indirectlylit opened #38 "Allow language to be switched in error page"
Our selection of language is mostly a guess as to the actual intent of the user. Even if e.g. #37 were implemented, it might still be not the best language for the user in that moment.

In Kolibri, we allow users to switch their language within the app:

![image](https://user-images.githubusercontent.com/2367265/67502739-41dcbf00-f63b-11e9-9de5-7def277f1ca3.png)

We should provide similar function

[2019-10-24 15:51] indirectlylit commented on #37
I think this is "nice to have" but probably not super important at the moment. An easier and more important change might be to simply allow language switching, e.g.: https://github.com/learningequality/kolibri-server/issues/38

However, I don't think even that is critical for 0.13.0. The existing change is already a huge improvement, so let's return to this for the next major release.

[2019-10-28 13:37] benjaoming commented on #38
What if the error page just contained all languages in one page? Switching could toggling the visibility of various error message translations as CSS elements. Toggling would be done w/ JS which could possibly be fine: https://stackoverflow.com/a/25603630

[2019-10-28 15:53] jredrejo commented on #38
Honestly, I don't know what to think: in one comment you asked to remove JavaScript and in this you suggest to add more JavaScript.
For all this work I would like to keep focus on the fact that it's just an error page. I don't think too many resources should be invested in this work and we should try to keep it simple. It's not a new application, in fact, the final goal should be avoid this page i

[2019-10-28 16:03] benjaoming commented on #38
It's not a position that I uphold in a very dogmatic way, I took for granted that we are now using JS for the benefits it can bring about. One of them would be to steer around the issue that was mentioned in #37.

[2019-10-28 20:23] indirectlylit commented on #38
Yes, agreed that putting all user-facing text in a single HTML page and switching language with JS would be a clever way to avoid writing complicated nginx language-switching logic; however it would certainly add complexity to the current crowdin workflow.

[2019-10-31 19:02] jredrejo opened #39 "If nginx is not active upgrading or uninstalling is not possible"
`nginx.service is not active, cannot reload.` appears if nginx is stopped while uninstalling or upgrading kolibri-server. That should not happen.

[2019-11-26 00:12] indirectlylit opened #42 "improve a11y of loading SVG"
We currently have a title that says "Kolibri Loader"

https://github.com/learningequality/kolibri-server/blob/0b311c5c77b540c49d0d6e69d29d6823161d0971/nginx_error_page/error.html#L108-L109

Something that would be more useful to somewhat using a screen reader would be "Kolibri is loading. Please wait"

We should also include an `aria-labelledby` attribute that points to the `<title>` tag in the `<

[2019-12-10 12:35] intelliant01 opened #43 "Internal Server Error upon pristine install"
Am encountering 'Internal Server Error' in browser when trying to access after installation and even after service restart.

Environment:
Ubuntu 18.04.3
kolibri-server 0.3.5
kolibri 0.13.0-b4

Below is the status of `kolibri-server` and `kolibri` services after an installation attempt on a pristine Ubuntu installation. Had answered 'No' for starting `kolibri` on system start as `kolibri-server` al

[2019-12-10 13:13] benjaoming commented on #43
Thanks for the thorough report @intelliant01 - it was the `.kolibri/uwsgi.log` that I was especially interested in, since this has the Python traceback of the error.

Reported here, too: https://github.com/learningequality/kolibri/issues/6266

[2019-12-10 13:17] intelliant01 commented on #43
@benjaoming Thanks for the quick look in. I did guess that uwsgi.log had the clue but just got a bit lazy and dumped it all as it was within a manageable archive. :)
Want me to share any more information, for example, what `enum` package is there in my system? How can I go about checking and/or fixing it immediately so that I can proceed with further testing?

[2019-12-10 14:01] benjaoming commented on #43
That would be great - what is the origin and version of this package? Is it installed in your Debian system or through pip?

[2019-12-10 15:11] intelliant01 commented on #43
Will this help ? -

[code]

[2019-12-10 15:17] benjaoming commented on #43
@intelliant01 hmm weird, thinking that since the Python 3 environment should not be affected by a Python 2.7 package, maybe there is another explanation.

Could you try to running this Python script and tell me which module that's active?

A) Without Kolibri

[code]

B) With Kolibri

[code]

[2019-12-10 16:00] intelliant01 commented on #43
@benjaoming I don't spot any significant difference -

[code]

[code]

[2019-12-10 17:07] jredrejo commented on #43
@intelliant01 there must be something else in your system:
`python-enum34` installs enum34 only on python2. Python 3.6 should not have any incompatibility with this.
Somehow you must have installed an enum34 library on your Python 3.x system overriding the enum provided by the standard library.
Can you do

- `pip list|grep enum`
- `dpkg -l|grep enum` to check if there are other packages that could

[2019-12-10 17:47] intelliant01 commented on #43
@jredrejo Here you go -
[code]

[2019-12-10 18:01] kollivier commented on #43
Not sure if this is the same issue, but wanted to note that we ran into an issue in the Mac app where the whl file (and presumably pex as well) bundle the `enum34` package as `enum` in `kolibri/dist`, and this causes the third-party package to be first on the path regardless of Python version. We are currently working around it by manually deleting the `enum` package since the app is using 3.6.

[2019-12-10 18:04] kollivier commented on #43
Also, looks like there's a PR to address that issue: https://github.com/learningequality/kolibri/pull/6269

[2019-12-10 18:40] jredrejo commented on #43
Hi @intelliant01
I apologize I didn't read you were testing the beta. For  the beta we have checked the error, it was an incompatible library we were including in the package. https://github.com/learningequality/kolibri/pull/6269 has solved it. We'll release a new beta version so you can confirm it in your system

[2019-12-10 18:40] #43 closed

[2019-12-11 03:08] intelliant01 commented on #43
@benjaoming @jredrejo @kollivier Thanks for coordinating promptly. Hereby I confirm that it is working fine with 0.13.0-b5 . And a few changes I have seen yet look very good from an end user perspective.

[2019-12-11 18:04] indirectlylit commented on #43
thanks for testing!

feel free to take a look at the beta page leave feedback on anything you notice: https://github.com/learningequality/kolibri/wiki/0.13.0-beta-testing

[2019-12-16 01:41] indirectlylit opened #44 "Stopping kolibri-service leaves nginx running"
reported by @jamalex

[2019-12-16 09:29] jredrejo commented on #44
@jamalex I disagree with the expected behaviour. Nginx in a server can be used to serve other pages and applications. Stopping it when stopping kolibri-server could cause a catastrophe.
The current behaviour is on purpose.

[2019-12-16 18:54] indirectlylit commented on #44
@jredrejo thoughts on Jamie's proposal? "remove the conf from sites-enabled and reload nginx"

[2019-12-17 03:13] indirectlylit opened #45 "integrate latest translations from 0.13.0"
Translations are complete! Let's integrate them and re-publish the package.

https://crowdin.com/project/kolibri-server/settings

[2019-12-17 15:21] benjaoming commented on #44
I think that sounds like a hack.

If the Kolibri port should be freed, then `kolibri-server` must be uninstalled or one can manually remove the configuration from `sites-enabled` (that's a single step as well)

The use case for having `kolibri-server` installed and having its port used by some other service sounds a bit narrow.

As long as Nginx displays a placeholder when the UWSGI gateway is dow

[2019-12-17 16:24] jredrejo commented on #44
@indirectlylit
As @benjaoming says, it sounds quite hacky and not too elegant. I understand the problem @jamalex faced. It's a quite common problem if you are installing/uninstalling/playing with the kolibri installation often. I have suffered it myself several times. However I think this is a special case and normal users should not have it: If you want kolibri-server you install it, if you don't

[2019-12-17 17:38] benjaoming opened #47 "Remove online fonts"
Following up on https://github.com/learningequality/kolibri-server/pull/46#discussion_r358894465

I don't think we should ever have online sources for the following reasons:

1. It implies: "For optimal experience, please ensure that all the clients have an internet connection".
1. Many deployments are behind captive portals, this will result in unnecessary requests and "301/200 OK" responses that

[2019-12-17 19:19] benjaoming commented on #44
I can be the one opposing to it then :) I kind of see any line of code with the risk of errors / maintenance etc.. so if there's no compelling reason to have it, there might be a compelling reason to _not_ have it :)

In this case, the hack has these issues:

1. That the error page is intended to be shown, even when the kolibri-server service is off?
1. That we get in to some unexpected enable/dis

[2019-12-17 19:37] jredrejo commented on #47
Honestly, I have nothing to argue in favour or against this request. These fonts improve the page, and the errors you mention are not visible at all unless you open the browser dev tools. I don't like seeing those errors but in this case they are benign. It's just a progressive app: it works well without Internet and it improves slightly the appearance if we don't have Internet.

My design-aesthet

[2019-12-17 20:44] benjaoming commented on #47
Yes, haha, for that one, see my first point :)

[2019-12-18 01:08] indirectlylit commented on #47
This is an example of [progressive enhancement](https://en.wikipedia.org/wiki/Progressive_enhancement). Users that have access to the internet will see the page in a style that matches our design system.

Users that do not have access to the internet will still have complete access to all the text. They will _not_ have any indication that their experience is different than other users. There are n

[2019-12-18 01:08] #47 closed

[2019-12-18 01:23] indirectlylit commented on #44
All right - closing. Let's wait to see if user feedback comes in that people are confused by this behavior

[2019-12-18 01:23] #44 closed

[2020-01-13 14:48] benjaoming opened #49 "Relocate log file"
The uwsgi service currently writes to `~/.kolibri/uwsgi.log`, not in for instance `~/.kolibri/logs/uwsgi.log` (where all other Kolibri logs are found) nor `/var/log/uwsgi/app/` (the default location of UWSGI logs).

I am proposing to relocate the log to `~/.kolibri/logs/uwsgi.log` so it isn't missed, and making it easier for someone to zip their entire log directory for debugging elsewhere.

The d

[2020-01-13 14:54] benjaoming commented on #31
I still reproduce this issue on Raspberry Pi. Investigating the timeout.

[code]

[2020-01-13 14:57] benjaoming commented on #31
It's not exactly the same issue, but pretty close. Starting doesn't time out, it's now stopping that times out :)

[2020-01-13 15:43] jredrejo commented on #31
Ok, if I understand it correctly the problem is kolibri-server does not restarts correctly because kolibri does not finish correctly, should not the solution be applied to kolibri?

[2020-01-13 15:45] jredrejo commented on #49
It's a good idea, let's do it

[2020-01-13 17:20] benjaoming commented on #49
Cool! It's a very simple change, I can do it if you like, I thought a bit about what to do with the old log file:

In order to avoid any race conditions, I will rename the old log file from `.kolibri/uwsgi.log` to `.kolibri/archive/uwsgi_pre-kolibri-server-0.3.7.log` inside the `kolibri-server.init` script, as there is a guarantee that UWSGI isn't already running when invoking the script's `do_sta

[2020-01-13 17:32] benjaoming commented on #31
Do you know what part of the debian scripts that make things stop/start (or restart) during upgrade? I can't find it anywhere. But yes, we should definitely make things more robust somehow for the upgrades.

There is a `set -e` that could cause things to fail loud and clear, which is great.

[2020-01-13 23:08] benjaoming commented on #49
On a small related note, it would be nice if this log was readable by everyone, it is currently only readable by root:

[code]

[2020-01-14 04:33] #17 closed

[2020-01-14 04:37] indirectlylit opened #51 "more timeouts when starting kolibri-server"
migrated issue from @benjaoming  https://github.com/learningequality/kolibri-server/issues/31#issuecomment-573701639

----

[code]

[2020-01-14 04:37] indirectlylit commented on #31
since this particular issue was addressed by #33 in v0.3.6, opened a new issue for v0.3.7 https://github.com/learningequality/kolibri-server/issues/51

[2020-01-14 04:37] #31 closed

[2020-01-14 09:07] benjaoming commented on #51
There was information in #31 that was still under investigation

CC: @intelliant01 we are now tracking this here.

[2020-01-31 23:11] jamalex opened #52 "kolibri-server does not work when port 80 is selected on a clean server"
I installed kolibri-server into a fresh instance of Ubuntu Server 18.04, and selected "80" as the port during the installation process. After installation, going to http://127.0.0.1 gives the following default nginx config page:

![image](https://user-images.githubusercontent.com/618416/73580652-256ed080-443b-11ea-8b1c-2ce1ed7b72f5.png)

In order to get it working, I had to manually run `sudo rm /

[2020-02-02 09:22] benjaoming commented on #52
I think we should add it as a debconf prompt, following the selection of port 80.

(if `/etc/nginx/sites-enabled/default` exists and port 80 is chosen)

[code]

[2020-02-02 19:54] jamalex commented on #52
That sounds good. And default option being "yes" (deleting).

It separately might also be good to just check the selected port (whatever it is) and see whether it's currently occupied, and allow them to select another if it is.

[2020-02-02 20:58] benjaoming commented on #52
@jamalex agree on the default "yes"

I sense some complexity if we choose to have a debconf loop like `while "port 80 is occupied" do prompt()`, and perhaps if a non-nginx configuration has stolen port 80, the user might have more complex issues than our .deb scripts should/could handle

[2020-02-03 18:18] jredrejo commented on #52
I think the easiest approach might be, in case port 80 is selected, doing a  backup copy of the current `default` and replace it by a `kolibri` config. No need to detect if it's occupied

[2020-02-03 19:32] benjaoming commented on #52
@jredrejo it's a symlink, so removing it should be fine. Replacing it, to me, sounds confusing.

[2020-03-17 21:15] benjaoming opened #56 "Logrotate config for uwsgi.log"
Ubuntu has log rotation automatically configured for the default UWSGI log folders. However, as we are running Kolibri as a different user, we have to put the log elsewhere and it makes total sense to have it in the `.kolibri` folder.

However, `logrotate` is a part of core Ubuntu systems, so it would make sense to distribute a default configuration.

[code]

Here is the configuration in `/etc/log

[2020-03-17 21:15] benjaoming commented on #56
As maybe be evident from https://github.com/learningequality/kolibri/issues/6459, we might receive quite a lot of entries during import of channels.

[2020-03-26 10:18] benjaoming opened #58 "Should stop and restart be non-blocking"
In https://github.com/learningequality/kolibri-server/pull/54, I removed a "&" to fork and not wait for the kolibri stop/restart commands in the system service.

That was just to be cautious before releasing too many potentially dangerous changes (concurrent access to database, booting Kolibri etc).

CC: @jredrejo

[2020-03-26 18:31] benjaoming opened #60 "Modular nginx configuration"
We can improve and adapt Nginx for the following:

* Making it easy for some to disable the distributed Nginx configuration *respecting upgrade paths*
* Making configuration more modular, so it's easy to use Nginx `include` directives for distributed configurations

Ref: https://github.com/iiab/iiab/issues/1646

## Suggestions:

* Move main configuration to `/etc/nginx/sites-available` and symlink

[2020-04-14 18:11] benjaoming opened #62 "Concurrently stop kolibri services and UWSGI"
In https://github.com/learningequality/kolibri-server/pull/54#discussion_r408253342, it was proposed to add a `&` to fork `kolibri stop` to the background and continuing to stop the UWSGI service.

This can be re-added in a robust way to guarantee that kolibri is stopped when the service exits, such that  `systemctl restart kolibri-server` does not produce "race conditions" and fail to start kolib

[2020-04-14 18:14] benjaoming commented on #62
If kolibri fails to start after stopping (i.e. a restart): Implications of `systemctl restart kolibri-server` failing are especially bad for upgrades, as that produces a failed state in dpkg.

If not all issues related to exclusive db access have been solved, we also risk adding more weight to the "malformed" db burden.

[2020-04-15 12:11] benjaoming opened #63 "unlink: ERR wrong number of arguments for 'unlink'"
During installation on top of an unclean system. Suspecting something related to the only occurrence of unlink:

[code]

apt output:

[code]

[2020-04-15 12:12] #58 closed

[2020-04-15 14:36] benjaoming commented on #45
Done in 0.3.6

[2020-04-15 14:36] #45 closed

[2020-04-15 14:41] benjaoming commented on #8
Just re-read this, I believe it is fixed now. We are supporting all flavors of Raspbian, so imagining that it's going quite okay now.

Cheers all :tada:

[2020-04-15 14:41] #8 closed

[2020-04-21 18:00] #51 closed

[2020-04-21 18:05] jredrejo commented on #56
Not any more, with the latest uwsgi configuration

[2020-04-23 11:05] jredrejo commented on #58
Thanks, yes, I remember our chat conversation for this. I also tested it with the latest kolibri package and things have improved in the restart, so you were totally right with this change.

[2020-04-24 15:38] jredrejo commented on #62
closed via #54

[2020-04-24 15:38] #62 closed

[2020-04-27 16:51] jredrejo commented on #12
Closing it as it's not reproducible nor has been reported again

[2020-04-27 16:51] #12 closed

[2020-05-04 13:21] #52 closed

[2020-05-04 21:35] benjaoming opened #68 "Missing error if UWSGI fails to start"
In `kolibri-server.init`, we have this note:

https://github.com/learningequality/kolibri-server/blob/cb1085595a5b60effe4b13cca30671511708d485/debian/kolibri-server.init#L12

Some of the behavior is designed:

https://github.com/learningequality/kolibri-server/blob/cb1085595a5b60effe4b13cca30671511708d485/debian/kolibri-server.init#L58-L77

The lack of `set -e` means that all sub-processes are all

[2020-05-04 21:44] benjaoming commented on #68
Adding `set -e` gives me this error:

[code]

Using `--pidfile2` with UWSGI fixes that error.

[2020-05-05 12:43] benjaoming opened #70 "HTML files installed in /etc"
DPKG treats these files as configuration files it seems. Maybe it's best not to track them like that?

[code]

[2020-05-05 12:45] #63 closed

[2020-05-05 19:23] benjaoming opened #73 "External and userspace configuration environment"
## Main problem

This won't require a big change, but the elaboration is long:

[code]

Installing `kolibri-server` and removing it again will leave behind a broken Kolibri, as it is now depending on for instance a Redis cache configured in `~/.kolibri/options.ini` or maybe binding to TCP port 80.

Because the configuration is a bit long-haired, it also takes significant time to sort out what's go

[2020-05-05 19:25] benjaoming commented on #73
This issue was originally supposed to have targeted a few issues with respect to installing and uninstalling. It instead became an issue about where to maintain configuration.

[2020-05-05 19:44] indirectlylit commented on #73
please provide references to examples of this affecting users in forums etc to help with prioritization

[2020-05-05 20:09] benjaoming commented on #73
I haven't come across any reports. We can wait for user reports and prioritize it as that happens.

The configuration is brittle in the sense that either it breaks by uninstalling `kolibri-server` or by removing `.kolibri` and restarting the kolibri-server system service.

These are both problematic scenarios:

* It's not possible to try out kolibri-server, uninstall and automatically revert. Conf

[2020-05-06 17:25] jredrejo commented on #42
Explanation to reopen it in the last comment of #72

[2020-05-06 17:56] jredrejo commented on #68
I don't get the rationale behind this issue.
You mean that if you break the init file using incorrect uwsgi options kolibri-server does not work? but who is gonna do such thing and wait for it to work?

[2020-05-06 18:29] jredrejo commented on #73
I think uninstalling should be clean for the user, so that's an issue. Not a clear issue because the user can tweak the options.ini , but I'd like to fix it. It is an easy fix and I'll do it asap.
For the nginx restoration, I already began to work on it, but I have switched to other priorities.

However, for the other `issues` mentioned here I think they are not real issues. Some are surprising to

[2020-05-06 20:59] indirectlylit commented on #73
just to reiterate an [earlier decision](https://learningequality.slack.com/archives/CAWKSU7KR/p1547753778102800) regarding configuration:

* For users that need custom configurations, we can provide sample nginx and uwsgi configs in our docs. These users would uninstall kolibri-server and manually configure nginx and uswgi to work with the kolibri package
* Our default advice is for users to insta

[2020-05-07 12:03] benjaoming commented on #68
That's the reproduction method which is meant to be easy to follow.

The rationale is already in the title of the issue "Missing error if UWSGI fails to start": If UWSGI fails to start, the system service acts as if everything is okay. This is not a nice design, we can't expect something like uWSGI to Just Work :)

[code]

[2020-05-08 00:09] indirectlylit commented on #42
note - loader is purely decorative and doesn't need a `title` at all. Sorry for the confusion

[2020-05-08 12:33] benjaoming commented on #73
This can be parked under tech debt and isolated incidents can be fixed by patching `kolibri_server_setup.py` as @jredrejo suggests.

We have a full external environment that's 100% in the control of the debian packages through conventional means. So if we want to, we can have a more clean one-directional configuration path.

We went over the fundamental problem of configuration levels, I think the

[2020-05-08 12:51] benjaoming opened #74 "Theoretical limit to size of log rotation"
Follow-up to: https://github.com/learningequality/kolibri-server/pull/53

It's possible to add for instance `size 100m` to the log rotation configuration to cap log files at 100 MB.

* What's the maximum size of a useful log file? (files should be rotated so they aren't impossible to attach in emails, forum posts etc)
* What's the maximum combined size of all stored log files

https://stackoverflo

[2020-05-08 14:51] benjaoming opened #75 ".kolibri deletion: nginx fails to start"
Problem: Gotchas in testing because removing `.kolibri` removes `~/.kolibri/nginx.conf` that's included in the Nginx configuration, so it cannot start.

Possible sub-problem: When Nginx fails to start, IIRC `kolibri-server` also fails to install because it tries to restart Nginx during installation.

Solution: @jredrejo has an idea

Refs: testing of #53 - more general issue #73

[code]

[2020-05-12 15:25] #70 closed

[2020-06-17 22:57] lyw07 commented on #76
Since the user uses Nginx, we suggested the user to change `large_client_header_buffers` to 9k in the Nginx config.
However, after changing the Nginx config, the 414 error (request uri too large) was gone but the lesson was still inaccessible with error 502 bad gateway

[2020-06-17 23:05] lyw07 commented on #76
this only happens in kolibri-server. Kolibri 0.13.3 alone doesn't have this issue

[2020-06-18 15:14] lyw07 opened #76 "unable to access a lesson with 200 resources with kolibri-server"
### Observed behavior

This is an issue reported on community forum:
https://community.learningequality.org/t/got-the-following-error-in-kolibri-today/1570

The user is getting error 414 (request uri too large) when accessing a lesson with more than 200 resources

### Expected behavior

Users should be able to access lessons without errors, or restricted with creating a lesson with 200 resources

[2020-06-29 23:25] lyw07 opened #77 "redis error unknown command ‘unlink’"
Although we set the `redis-server` version to >= 4.0.0, some of the old Ubuntu/Debian distributions only have `redis-server` 3.x.x when installing `kolibri-server`, which will cause the error `unknown command ‘unlink’` as `unlink` exists in redis version >= 4.0.0.

to reproduce this issue,
1. install `kolibri-server` on Ubuntu 16.04
2. check `redis-server` version
3. run `redis-cli unlink`

[2020-06-30 14:55] jredrejo commented on #77
Sorry but I don't understand this issue: kolibri-server requires redis >= 4.0. If the user installs a previous redis version kolibri-server should not be installed.

[2020-06-30 14:59] lyw07 commented on #77
yeah I agree. but somehow it escaped the version enforcement and installed redis-server 3.x.x. I'm wondering if it's because the latest version in Ubuntu xenial is 3.x.x?

[2020-06-30 15:01] jredrejo commented on #77
well, if the user hacked his system and cheated, he can't blame on our package :smile:

[2020-06-30 15:14] lyw07 commented on #77
oh that's weird. so what I did is just following the standard way of downloading `kolibri-server` by running `sudo apt-get install kolibri-server`. and it installed an old redis version for me :(

here is the output of running `sudo apt-get install kolibri-server`:
[code]

it says it installed `redis-server` version `2:3.0.6-1ubuntu0.4` although I installed the latest `kolibri-server` which should

[2020-06-30 15:31] jredrejo commented on #77
Ah, in redis-sever they changed the epoch field with the package name ( https://www.debian.org/doc/debian-policy/ch-controlfields.html#version) That should be done only in rare cases but I see they do it frequently in this package.
Ok, then we need to change our debian/control to require redis-server >= 4:4.0.0 so they can't install it in this system.

[2020-06-30 20:02] lyw07 commented on #77
thank you José!

[2020-06-30 20:05] lyw07 commented on #77
If the user is currently using 3.x.x, is there a Debian/Ubuntu native way of downloading a version >= 4.0.0? Or is downloading the targz file from redis official website the only way? Thank you!

[2020-07-31 04:35] arky opened #78 "Syntax error in Kolibri-server package"
Installing kolibri-server(0.3.6-0ubuntu1) package on Ubuntu LTS prints following errors to stdout. The installation continues after the errors.

[code]
$ python --version
Python 3.8.2

$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.1 LTS
Release:	20.04
Codename:	focal

[2020-08-04 21:36] #77 closed

[2020-08-05 07:32] intelliant01 commented on #63
Tested on `Ubuntu 18.04` with `kolibri-server 0.3.8~beta2` + `kolibri 0.14.b16` + `redis 4.0.9`.
Tested on `Ubuntu 20.04` with `kolibri-server 0.3.8~beta2` + `kolibri 0.14.b16` + `redis 5.0.7`.

The `unlink errors` are present and visible during `kolibri-server` start.

Additional info: No max-memory setting has been done for redis as even setting at 50% of system memory breaks Kolibri functionali

[2020-08-05 10:02] jredrejo commented on #63
I imagine you created the kolibri-server package because [the fix closing this issue](https://github.com/learningequality/kolibri-server/pull/67) has not been released in any kolibri-server package yet.

If the unlink problem persists, yes, reopen it, with the instructions to reproduce it because I can't reproduce it anymore if the correct version of redis is installed. It works fine in Ubuntu 18.

[2020-08-05 11:17] intelliant01 commented on #63
I have installed the `kolibri-server` beta package available herein - https://launchpad.net/~learningequality/+archive/ubuntu/kolibri-proposed/+packages

I see these messages whenever I execute `systemctl start kolibri-server` . Do keep `journalctl -f -u kolibri-server` running in another terminal otherwise it is easy to miss the 'unlink' notification.

`max-memory` information was just additional

[2020-08-05 11:52] jredrejo commented on #63
ok, no  need to reopen it. The package you installed does not have the fixes applied. A new package version will be uploaded at the end of this week or beginning of the next one.
Sorry for the noise

[2020-10-16 08:31] ghost opened #80 "[RPi] The task is labeled as "Failed" after completing the downloading the topic"
Environment; Raspberry Pi 3B+
OS: Kolibri 0.14.3 tested on Mac mini (Mid 2011)
Browser: Google Chrome latest

Severity; major

Preconditions; user is logged in as super admin, the channels page is opened

Steps to reproduce;

1. Click on the "import" button
2. Select the source of importing (Kolibri studio)
3. Select at least one topic or subtopic
4. Click on the "Import button"
5. Wait for comple

[2020-10-19 15:41] jredrejo commented on #80
@Sasha801 thanks for the report, can you tell if you had `kolibri-server `installed in the RPi or just `kolibri`?

[2020-10-19 17:45] ghost commented on #80
@jredrejo I installed the RPi image 0.14.3 on the Raspberry Pi 3B+. And then tested from the mac connected to the  host http://10.10.10.10

[2020-10-27 00:36] jonboiser commented on #80
This looks like an import job that generally finishes for me on desktop since it is a pretty small import, so it might be specific to RPi hardware. @jredrejo Let's test this case specifically when we benchmark 0.14.4's import performanceon RPi.

@Sasha801 Is there any difference when you click the whole topic, versus select the topic's contents one-by-one?

[2020-10-27 07:43] jredrejo commented on #80
@jonboiser this is the only issue I have seen so far that might be a `kolibri-server` issue so I am transfering it to that repository to take care of it.

[2020-10-27 13:32] metodimilevqa opened #81 "Kolibri Server change port not working as expected on RPi 4"
### Observed behavior

I tried to change the HTTP_PORT by adding....

[code]

... as a last row of the options.ini file. After starting the kolibri service again I tried to access Kolibri at 10.10.10.10:28 but with no success. After running the "sudo reboot" command I accessed it at 10.10.10.10:8080 but when loading the contents of options.ini the value for HTTP_PORT is still 28. I noticed that th

[2020-10-27 19:16] jonboiser commented on #81
So was Kolibri still running on port 8080 and ignored the change to options.ini?

[2020-10-27 19:18] jonboiser commented on #81
@jredrejo Should I move this to the kolibri-server repository?

[2020-10-27 19:25] jredrejo commented on #81
@jonboiser  I am not sure
that's not the way `kolibri-server `is intended to change the ports, it has to be done using `dpkg-reconfigure kolibri-server` because only some ports (80, 8000 & 8080) are allowed.
My doubt is : if kolibri only works properly (due to the autodiscovery features) on ports 80, 8000 or 8080, should kolibri raise an error when other port is used? If not, I can make kolibri-se

[2020-10-27 19:34] jonboiser commented on #81
Yeah, those are good questions. I'm not sure, but maybe the discovery stuff does assume a whitelist of ports (80, 8000, 8080).

But if somebody doesn't care about peer discovery and just wants to expose Kolibri on port 28, then that should work too.

So is the issue you can't change ports by changing `options.ini` or running `dpkg-reconfigure kolibri-server` and we should allow that?

[2020-10-27 19:47] jredrejo commented on #81
Ok, with that logic, I think that manually changing ports in options.ini should work, ,but `dpkg-reconfigure kolibri-server `should give only the list of good ports, so it's in the user to decide how to handle it. Let's move this to kolilbri-server

[2020-10-27 19:54] radinamatic commented on #81
Maybe we should also need to expand/adjust the scenarios in this [Gherkin](https://github.com/learningequality/kolibri/blob/release-v0.14.x/integration_testing/features/debian/kolibri-server-change-port.feature) to cover that?

[2020-12-01 19:22] jredrejo opened #82 "Prepare kolibri server to work with the changes to support hashi in 0.15.x"
After
https://github.com/learningequality/kolibri/pull/7254
has been merged, changes to the uwsgi and nginx configs must be done to support this new way to injecting html files into kolibri

[2021-01-05 19:31] #68 closed

[2021-03-19 18:03] luandro opened #83 "Best way to make a Dockerfile"
At [Coolab](https://coolab.org/) we've been using Kolibri with a [docker-compose nginx-proxy](https://github.com/nginx-proxy/nginx-proxy) setup. Since there seems to be no official docker image I had to create my own.

Initially I was using [this Dockerfile](https://gitlab.com/coletivo-coolab/coolab-play-server/-/blob/master/kolibri.coolab.org/Dockerfile), using a `python` image. It did work, but

[2021-03-26 00:38] rtibbles opened #84 "Handle default kolibri behaviour from 0.15.x onwards to no longer collectstatic files"
The pull request: https://github.com/learningequality/kolibri/pull/7920 completed the reliance of Kolibri on using Whitenoise to serve precompressed static files, from the source directories.

This means that Kolibri no longer runs collectstatic as an ordinary part of its life cycle.

For nginx configurations to serve static files efficiently there are two options:

1) Transparently proxy the koli

[2021-03-26 00:41] rtibbles commented on #82
The main things that need to be done are:
* proxying the alternate origin server, and ensuring that the correct port is set in the Kolibri options for the proxied port
* simplifying how we serve the zipcontent endpoint as we no longer need to patch the CSP header, as the origin is no longer null when accessed in the client side.

[2021-03-26 07:50] jredrejo commented on #84
Thanks @rtibbles
I have already a proof of concept that works, just need to clean it up to create the pr for kolibri-server
With the current roadmap for kolibri 0.15  it does not seem to be urgent to do it, but if it we plan to release a beta version soon I'd do it in the next days.
@jonboiser are there any plans to do a kolibri 0.15 beta release in the short term?

[2021-04-06 20:45] rtibbles opened #85 "Launch kolibri with appropriate installer type env var set"
In line with learningequality/kolibri#7957 the batch file for launching Kolibri should properly set `KOLIBRI_INSTALLATION_TYPE` to `kolibri(apt) with kolibri-server {kolibri-server version}`.

This needs to be set for both uwsgi invocations and for the async task runner.

[2021-11-02 18:05] #49 closed

[2021-11-02 18:05] #56 closed

[2021-11-19 19:02] #84 closed

[2021-11-20 10:54] jredrejo commented on #82
Closed by #87

[2021-11-20 10:54] #82 closed

[2021-11-20 10:54] jredrejo commented on #81
Closed by #87

[2021-11-20 10:54] #81 closed

[2021-11-20 10:55] jredrejo commented on #74
Closed by #87

[2021-11-20 10:55] #74 closed

[2021-11-20 10:55] jredrejo commented on #73
Closed by #87

[2021-11-20 10:55] #73 closed

[2021-11-20 10:55] jredrejo commented on #60
Closed by #87

[2021-11-20 10:55] #60 closed

[2021-11-20 10:55] jredrejo commented on #39
Closed by #87

[2021-11-20 10:55] #39 closed

[2021-11-26 16:35] #85 closed

[2021-11-30 19:20] radinamatic opened #90 "Problems while importing on Ubuntu with 'kolibri-server' package"
## Observed behavior
Installed `kolibri-server` with `apt` on both Ubuntu 16.04 and 18.04, and it has been impossible to import channels in any modality (Studio, peers or local drive).

Studio | peer | drive
--- | --- | ---
![Ubuntu16 04 (start)  Running  - Oracle VM VirtualBox_008](https://user-images.githubusercontent.com/1457929/144114689-09eeabf2-4e40-4700-94a2-0cf4f30f5883.png) | ![Ubuntu18 0

[2021-12-02 18:07] #90 closed

[2022-01-14 12:41] intelliant01 opened #91 "Installing in a chroot envrionment gives errors"
Have a squashfs Ubuntu 20.04 OS image which I have loop mounted and tried to update the kolibri-server package.

I got these errors -
[code]

The install process should have completed without any errors in the chroot envrionment.

[2022-01-19 11:01] intelliant01 opened #92 "kolibri-server.service times out for installations with large content repositories"
Have encountered cases wherein content repository is quite large (greater than 100 GB, in my case), kolibri-server fails to start with a timeout error.
This happens during upgrade and for each subsequent start. I was upgrading from Kolibri 0.14.7.

Hardware: Celeron Dual Core N3050 + 4 GB RAM
Software:
kolibri-server package version 0.4.0-0ubuntu2
kolibri package version  0.15.0-0ubuntu1
Ubuntu 18

[2022-01-19 11:12] intelliant01 commented on #92
Noticed that the service fails every time during upgrade but may start successfully in subsequent starts if once started with `TimeoutStartSec=infinity` to complete the upgrade routine.
However, a successful start without `TimeoutStartSec=infinity` is random but success with `TimeoutStartSec=infinity` is certain.

[2022-01-19 16:48] jredrejo commented on #92
`TimeoutStartSec=infinity`
can not be generally applied as it cause issues when rebooting or stoping the server.
If migrations are causing a time out (what can be logical if it takes too long to be applied) we should find a better solution for this particular case.

[2022-01-19 16:56] intelliant01 commented on #91
@jredrejo Only two lines in the respective files, that are being generated by the debhelper seem to be the cause of the above issue in a chroot env wherein no services are active.

Specifically the `exit 1` in `/var/lib/dpkg/info/kolibri-server.prerm` results in the above error.

In `/var/lib/dpkg/info/kolibri-server.prerm`:

[code]
should be
[code]

In `/var/lib/dpkg/info/kolibri-server.postinst`

[2022-01-19 17:28] intelliant01 commented on #92
The very same reason(s) that [`kolibri.service`](https://github.com/learningequality/kolibri-installer-debian/blob/efbf9d38cae77ba1ba8074cd63eb29ceb76e318b/debian/startup/kolibri.service#L13) has `TimeoutStartSec=infinity` should apply herein. Isn't it?

[2022-01-19 17:51] intelliant01 commented on #92
@jredrejo I see your reasoning in some detail at https://github.com/learningequality/kolibri-server/pull/54. What additional information do you need from me to further diagnose the delay and address this further?

[2022-01-19 17:58] intelliant01 commented on #92
And `kolibri-server` always fails to stop cleanly and the status always shows as `failed` whenever I have attempted to stop it. This is the state on more than 6 servers that I have upgraded over the last 2 weeks. All are of the same configuration as mentioned above.

[code]
Not sure if I should create a separate issue for this. Should I?

[2022-01-25 09:57] intelliant01 commented on #92
@jredrejo ~I have not been able to reproduce the issue with starting up post upgrades for the last few days.~ Just encountered the issue again. I shall be watching this for any upgrades for another few weeks.
The problem of a [clean shutdown](https://github.com/learningequality/kolibri-server/issues/92#issuecomment-1016722691) is definitely still there.

[2022-01-25 12:36] intelliant01 commented on #91
With the help of @cyberorg figured out that the root of the problem is in [`/etc/init.d/kolibri-server`](https://github.com/learningequality/kolibri-server/blob/30437b95ae0022d04969b7fdf209de39966c229f/debian/kolibri-server.init) in the `start` and `stop` cases -

Detecting chroot and exiting with status 0 helps fix it -
[code]

This seems to be the only feasible method because `$SU_COMMAND $KOLIB

[2022-01-28 15:00] #92 closed

[2022-04-15 11:26] jredrejo opened #95 "Support for new LISTEN_ADDRESS Kolibri option"
After https://github.com/learningequality/kolibri/pull/9291 is merged into develop, a new option `LISTEN_ADDRESS` can be added to the kolibri `options.ini` file.
Its default value keep things as they were until now. However, if the option is used, nginx conf should be modified changing
` listen 80; `and` listen 81; `lines to
`listen LISTEN_ADDRESS:80; ` and `LISTEN_ADDRESS:81;`

[2022-05-12 06:35] intelliant01 commented on #92
@jredrejo I have encountered the timeout issue on multiple installations. And each time adding `TimeoutStartSec=infinity` resolves the same.
The installation hardware is Celeron 3050 + 4 GB RAM on which kolibri-server fails to start because the system load is too high during startup.